[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "==5.2.0"
pillow = "==10.2.0"
python-barcode = "==0.15.1"
reportlab = "==4.0.8"
pandas = "==2.1.4"
certifi = "==2023.11.17"
distlib = "==0.3.8"
filelock = "==3.13.1"
numpy = "==1.26.3"
pipenv = "==2023.11.15"
platformdirs = "==4.1.0"
python-dateutil = "==2.8.2"
pytz = "==2023.3.post1"
six = "==1.16.0"
tzdata = "==2023.4"
virtualenv = "==20.25.0"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
